<a href="https://colab.research.google.com/github/jihoon119/py19/blob/master/mid_exam_py19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬활용 중간고사 풀이

### 문제1. 다음 식의 연산 결과는 무엇인가?

In [3]:
a=5
b=3
a**b

#**은 제곱을 뜻하는 것으로 125가 출력됩니다.

125

###문제2. 다음 문자열 a에 대하여 슬라이싱을 한 결과는 무엇인가?
####a="Life is too short, You need Python!"
####a[-16:-8}

In [4]:
a= "Life is too short, you need Python!"
a[-16:-8]

#-16은 Y부터 나타내는 것이고, -8은 d까지 나타낸다. 따라서 You need가 나옵니다.

'you need'

###문제3. 다음 list a의 인덱싱 결과는 무엇인가?

In [10]:
a = [1,2,(3,4),['a','b',['My','Life','Good']]]
a[3][-1][0] 

# a[3]은 ['a','b',['My','Life','Good']이고, -1은 ['My','Life','Good']입니다. 
#['My','Life','Good']부분에서 0인 것은 "My"입니다

'My'

###문제4. 다음 tuple t1의 슬라이싱 결과는 무엇인가?

In [11]:
t1 = (0,1,"s", "t", "u")
t1[2:-2]

#tuple을 사용을 할 경우 콤마를 붙여 줘야합니다.
#2는("s")를 뜻하는것이고, -2는("t")의 뒷부분을 뜻하는 것입니다. 그러므로 ('s',)가 출력됩니다.

('s',)

###문제5. 다음bool값 출력 중 정확한 것은?

In [12]:
bool([0,1,2]), bool([0]), bool((0)), bool((0,))

#첫번째와 두번째는 []안에 값이 있어 True, 세번째는 문자열이 빈 문자열이기때문에 False, 네번째는 0, 가 있어 문자열이 되어 True가 됩니다.

(True, True, False, True)

###문제6. 다음 조건문을 1줄 코드로 변경하시오.

In [0]:
score = 80
if score >= 60 :
  message = "success"
else :
  message = "failure"

In [15]:
score = 80
message = "success" if score >= else "failure"

SyntaxError: ignored

###문제7. 다음 코드의 실행 결과는 무엇인가?

In [16]:
games = ["A", "B", "C"]

for cnt in range(len(games)):     #games라는 변수의 길이를 games안에 들어있는 각각의 변수 앞에 출력
  print(cnt,games[cnt], end = ',')  #항목과 항복 사이에 줄바꿈없이 end의 속성으로 end에 ,가 출력

0 A,1 B,2 C,

###문제8. 다음의 결과가 출력되지 않는 것은?
###'I ate 10 apples. so I was sick three days.'

In [0]:
# code start
number = 10
day = "three"
# 오류 : SyntaxError: positional argument follows keyword argument
# 출력되지 않는 것: "I ate {0} apples. so I was sick for {1} days.".format(number=10,day)
# 키워드 인자를 위치인자보다 먼저 사용했기때문에 오류가 발생한다.

###문제9. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.
####*5+10+15+20+25+30+.....+995+1000=?

In [24]:
sum([num for num in range(1,1001)if num % 5==0])

100500

### 문제10. 4개 과목의 평균 성적을 구하시오. [a], [b]에 적합한 코드는?
       subjects = ['python', 'english', 'math', 'science']
       scores = [88, 77, 66, 95]
       total = 0

      for subject, score in [a]_____(subjects, scores):
           total += score
           print(subject, score)

     print("평균점수 = (0)", format([b]_____)

In [26]:
subjects = ['python', 'english', 'math', 'science']
scores = [ 88, 77, 66, 95]
total = 0
for subject, score in zip(subjects,scores): 
  total += score 
  print(subject,score)

print("평균 점수 = {0}".format(total/len(subjects)))
# total/len(subjects) 사용해야함
# 과목 수만큼 나눠주면 평균임.

python 88
english 77
math 66
science 95
평균 점수 = 81.5